body{
    text-align: center;
    background-color:rgb(212, 51, 45)
}
.beneficios{
    text-align: left;
    background-color:rgb(167, 33, 28)
}
ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 800px;
}
li {
    padding: 15px;
    font-size: 26px;
}
    .foto-beneficio{
        width:40%
}
